<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.УспехЛичныйКабинет"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name=".views.SecureAndPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".views.HelpLoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.ArticleActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.PromoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.NewsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.PayActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddExtraInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.AskPhoneActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.IssueResultActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_issue_result"
            android:theme="@style/Theme.УспехЛичныйКабинет" />
        <activity
            android:name=".views.IssueActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".views.TempPayActivity"
            android:exported="false" />
        <activity
            android:name=".views.PaymentsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.firebase.AppFirebaseMessaging"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>